body {
    font-family: Arial, sans-serif;
    background-color: #beb9b9;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}
h1 {
    color: #333;
    text-align: center;
    font-size: 3em;
}
h2 {
    color: #333;
    text-align: center;
    font-size: 1.5em;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #858585;
    border-radius: 4px;
    background-color: rgb(200, 221, 255);
}
.contenedor {
    max-width: 900px;
    margin: 40px auto;
    background: #a5a5a5;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(185, 185, 185, 0.1);
}
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #858585;
    border-radius: 4px;
    background-color: rgb(200, 221, 255);
    margin-bottom: 15px;
}
.Input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    vertical-align: middle;
    margin-right: 6px;
}
.Input[type="radio"]:checked {
    background: #c7e214;
}
.Inputtt[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px; 
    border-radius: 4px;
    background: #fff;   
    transform: translate(60px)rotate(60deg);
    

}
.Inputtt[type="radio"]:checked {
    background: #ab7427;
}

.Inputt[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background: #fff;
    vertical-align: middle;
    margin-right: 6px;
    transform: rotate(50deg);
}
.Inputt[type="checkbox"]:checked {
    background: #4caf50;
}
.Comentario[type="text"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #858585;
    border-radius: 4px;
    height: 50px;
}
.Boton {
    background-color: #728872;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
    margin: 20px 0 0 0;
    display: block;
    margin-bottom: 10px;
}

/* Estilo del contenedor del modal */
#modal-success {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenido del modal */
#modal-content {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Estilo del botón cerrar */
#close-modal {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#close-modal:hover {
    background-color: #c0392b;
}
/*Aqui era el errorr */
#modal-success.hidden {
    display: none;
}